/* basic Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: grey;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;              
    height: 100%;
    background: #050505;
    overflow: hidden;
    transition: width 0.3s ease;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 14px 16px;
    transition: background 0.3s ease;
    border-radius: 6px;
}

.navbar:hover {
    width: 220px;
}

.menu-icon {
    color: white;
    font-size: 30px;
    padding: 15px;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

.navbar li {
    width: 100%;
}

.navbar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    white-space: nowrap;
}

.navbar a:hover {
    background-color: rgba(23, 125, 209, 0.63);
    border-radius: 6px;
    opacity: 0.7;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 120px;
}


.navbar img,
.navbar a {
    opacity: 0;
    transition: opacity 0.2s ease;
}


.navbar:hover img,
.navbar:hover a {
    opacity: 1;
}

.active {
    background-color: #1B9AAA;
}

.cards-container{
    margin-left:60px;
    padding:30px;
    align-items: center;
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:20px;
}

.card{
    background:white;
    border:1px solid #ddd;
    border-radius:15px;
    padding:20px;
    box-shadow:0 2px 6px grey;
    width: 85%; 
    transition: all 0.3s ease;
}
.card:hover{
    box-shadow:0 4px 12px rgba(0,0,0,0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    background:#1B9AAA;
    border:1px solid #000;
    color:white;
}
.topbartoppartbitthingy{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.topbartoppartbitthingy h2{
    font-size:30px;
    margin-left:6%;
    color:white;
}
.login{
    display:flex;
    align-items:center;
    gap:15px;
    margin-right:4%;
}

.login button{
    padding:8px 40px;
    background: #1B9AAA;
    color: white;

}
