/* basic Reset */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;              
    height: 100vh;
    background: #050505;
    overflow: hidden;
    transition: width 0.3s ease;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 14px 16px;
  transition: background 0.3s ease;
  border-radius: 6px;
}

.navbar:hover {
    width: 220px;
}

.menu-icon {
    color: white;
    font-size: 30px;
    padding: 15px;
    cursor: pointer;
}

/* Menu */
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

.navbar li {
    width: 100%;
}

.navbar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    white-space: nowrap;
}

.navbar a:hover {
  background-color: rgba(23, 125, 209, 0.63);
  border-radius: 6px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 120px;
}


.navbar img,
.navbar a {
    opacity: 0;
    transition: opacity 0.2s ease;
}


.navbar:hover img,
.navbar:hover a {
    opacity: 1;
}

/* Push page over */
body {
    margin: 0;
    padding-left: 60px;
    transition: padding-left 0.3s ease;
}

.navbar:hover ~ * {
    margin-left: 160px;
}

.active {
  background-color: #1B9AAA;
}
